*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 24px;
}

header .container{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

nav a{
    color: #222;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 21px */
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;

}
nav{
    display: flex;
    gap: 32px;
}

nav a:hover{
    color: #DE2E54;
}

header .btn{
    display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 2px solid #DE2E54;
background: #FFF;
color: #DE2E54;
text-transform: uppercase;
}

header .btn:active{
    color: white;
    background-color: #DE2E54;
}

#hero {
    background-image: url(./img/image\ 4\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;

}

#hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

#hero h1{
    width: 500px;
height: 82.294px;
flex-shrink: 0;
color: #FFF;

/* Big heading */
font-family: "Open Sans Condensed";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 43.2px */
}

#hero .btn{
    display: inline-flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: rgba(222, 46, 84, 0.80);
margin-top: 70px;
color: white;
border-color: #DE2E54;
}

#hero .btn:active{
    background-color:transparent;
    color: #DE2E54;
}

#servis .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
#servis .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

#servis{
    padding: 70px 288px;
    padding-bottom: 208px;
}

#location{
    background: #0EB4C1;
    height: 669px;
}

.row1{
    display: flex;
    gap: 62px;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 61px;
}
#location .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 112px;
    width: 1100px;
    margin: 0 auto;
    position: relative;
    top: -150px;
}

form{
    width: 540px;
height: 331px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 30px;
padding: 27px 40px;

}

form input{
    width: 460px;
height: 39.105px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #5E54A4;
background: #FFF;

}

form .btn{
    width: 460px;
height: 39.105px;
flex-shrink: 0;
border-radius: 5px;
background: #38CC8B;
box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
border: none;
color: white;
}